.header {
  width: 100%;
  height: 64px;
  background-color: #0f172a;
  color: white;
}

.header {
  align-items: center;
  gap: 1rem;
  width: calc(100vw - 280px);
  height: 64px;
  padding: 0 1rem;
  background-color: #0f172a;
  color: white;
}
