:root {
  --sidebar-bg-color: #1e293b;
  --sidebar-text-color: whitesmoke;
  --sidebar-accent-color: orange;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  padding: 0px;
}

.sidebar .sidebarIcon {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.sidebarNavIcon {
  width: 1rem;
  height: 1rem;
  margin: 0rem 1rem 0rem 0rem;
}

.sidebar h1 {
  font-size: 2rem;
  margin: 0px;
  padding: 1rem 0px;
  color: var(--sidebar-accent-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 0;
  cursor: pointer;
}

.sidebar ul li .navLink {
  display: block;
  padding: 1rem 1.5rem;
  color: var(--sidebar-text-color);
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}

.sidebar ul li:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
}

.logoContainer {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}

.active {
  background-color: var(--sidebar-accent-color);
  color: var(--sidebar-bg-color);
  transition: background-color 0.5s ease-in-out;
}
