:root {
  --sidebar-bg-color: #1e293b;
  --sidebar-text-color: whitesmoke;
  --sidebar-accent-color: orange;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  padding: 0px;
}

.sidebar img {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.sidebar h1 {
  font-size: 2rem;
  margin: 0px;
  padding: 1rem 0px;
  color: var(--sidebar-accent-color);
}

.sidebar h2 {
  background-color: var(--sidebar-bg-color);
  padding: 0.5rem 1rem;
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 0.5rem 0;
  cursor: pointer;
}

.sidebar ul li .navLink {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--sidebar-text-color);
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logoContainer {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}

.active {
  background-color: var(--sidebar-accent-color);
  color: var(--sidebar-bg-color);
  font-weight: bold;
}
