:root {
  --content-bg-color: #f1f0ed;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: auto;
}

.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 0px;
  width: 90vw;
  height: 100vh;
  background-color: var(--content-bg-color);
}
