:root {
}

body {
  margin: auto;
}

.layout {
  display: flex;
  min-height: calc(100vh - 64px); /* header height */
}

.main {
  flex: 1;
  padding: 1rem;
  background-color: #f5f5f5;
}

.sidebar {
  transition: transform 0.3s ease;
}

span {
  color: rgb(234, 0, 255);
  text-decoration: line-through;
}
